/* myra-chatbot/frontend/src/App.css */
.app-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: #fff0f5;
 font-family: "Arial", sans-serif;
}

h1 {
 color: #800020;
 margin-bottom: 20px;
}
